# This is a CODEOWNERS file.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for review when someone opens a pull request.
* @tianyu-l @fegin @wwwjn @wconstab

# Exclude the experiments directory by adding a pattern without owners
/torchtitan/experiments/

# codeowners for experiments/forge
/torchtitan/experiments/forge/* @joecummings @felipemello1 @daniellepintz @allenwang28 @tianyu-l @wwwjn @fegin
