# Git
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/
.ipynb_checkpoints

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS-specific
.DS_Store
Thumbs.db

# Local build artifacts
build/
dist/
*.spec

# Docker
Dockerfile
.dockerignore
docker-compose.yml 