__pycache__
.idea
.DS_Store
*.egg-info
build
outputs
dist/*
.vscode
.vs
.venv

# data
data
out
wandb

# hf assets
assets/hf/*
assets/tokenizer/*
tokenizer/
.tokenizers/

# temp files
*.log
error.json

# Editor temporaries (VIM)
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
Session.vim
Sessionx.vim
.netrwhist
*~
.~lock.*

# macOS dir files
.DS_Store

# env files
.env

# Vibe coding
.claude
