__pycache__
.idea
.DS_Store
*.egg-info
build
outputs
dist/*
.vscode
.vs

# data
data
out
wandb

torchtitan/datasets/**/*.model

# hf assets
assets/hf/*
assets/tokenizer/*
torchtitan/experiments/flux/assets/*

# temp files
*.log
error.json
_remote_module_non_scriptable.py

# Editor temporaries (VIM)
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
Session.vim
Sessionx.vim
.netrwhist
*~
.~lock.*

# macOS dir files
.DS_Store

# env files
.env

# Vibe coding
.claude
