torch >= 2.2.0.dev
datasets
tomli >= 1.1.0 ; python_version < "3.11"
tensorboard
sentencepiece
tiktoken
blobfile
# TODO remove pippy requirement after completing migration to pytorch
git+https://github.com/pytorch/pippy
