name: Lint

on:
  pull_request:

concurrency:
  group: lint-${{ github.workflow }}-${{ github.ref == 'refs/heads/main' && github.run_number || github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash -l -eo pipefail {0}

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10']
    steps:
      - name: Check out repo
        uses: actions/checkout@v6
      - name: Setup python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Update pip
        run: python -m pip install --upgrade pip
      - name: Install lint utilities
        run: |
          python -m pip install -r requirements.txt -r requirements-dev.txt
          python -m pip install --force-reinstall --pre --index-url https://download.pytorch.org/whl/nightly/cu126 torch
          pre-commit install-hooks
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@8cba46e29c11878d930bca7870bb54394d3e8b21 # v45.0.6
      - name: Lint modified files
        run: pre-commit run --files ${{ steps.changed-files.outputs.all_changed_files }}
