name: 4 GPU Unit Test

on:
  push:
    branches: [ main ]
  pull_request:

concurrency:
  group: unit-test${{ github.workflow }}-${{ github.ref == 'refs/heads/main' && github.run_number || github.ref }}
  cancel-in-progress: true

jobs:
  build-test:
    uses: pytorch/test-infra/.github/workflows/linux_job.yml@main
    with:
      runner: linux.g5.12xlarge.nvidia.gpu
      gpu-arch-type: cuda
      gpu-arch-version: "12.1"
      # This image is faster to clone than the default, but it lacks CC needed by triton
      docker-image: "pytorch/pytorch:2.3.0-cuda12.1-cudnn8-runtime"
      repository: "pytorch/torchtitan"
      upload-artifact: "outputs"
      script: |
        conda create -n "test" python=3.10
        conda activate test
        conda install git
        pip config --user set global.progress_bar off
        pip install --upgrade pip
        python -m pip install --force-reinstall --pre torch --index-url https://download.pytorch.org/whl/nightly/cu121
        python -m pip install -r requirements.txt
        python -m pip install -r dev-requirements.txt
        python -m pip install git+https://github.com/pytorch/pippy
        python ./test_runner.py
        mv outputs artifacts-to-be-uploaded
  # upload-coverage:
  #     - name: Upload Coverage to Codecov
  #       uses: codecov/codecov-action@v3
